.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px 5px;
    background-color: var(--secondary-bg-color);
    border-bottom: 2px solid var(--accent-color);
}

.logo{
    aspect-ratio: 1/1;
    height: 3rem;
    background-color: var(--secondary-color);
    border-radius: 30%;
}

.h1container{
margin: 0 auto;
	
}

.h1{
    
	font-size: var(--size-h1);
	font-family: var(--font-title);
	text-align: center;
	font-weight: 700;
}

.h2{
    
	/* font-size: var(--size-h2); */
	font-family: var(--font-title);
	text-align: center;
	font-style: italic;
}

.pictoLink {
    aspect-ratio: 1/1;
    width: 1.5rem;
    margin: 0 2px;
    transition: transform 0.2s ease;
}

.pictoLink:hover {
    transform: scale(1.15);
}

.rightblock{
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.mailTel{
    display: flex;
    flex-direction: column;
}

.picto{
    margin: 3px auto;
}

.rowFlex{
	display: flex;
	align-items: center;
	gap: 6px;
	margin-left: 6px;
	justify-content: center;
}

.mainFlex{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	
}

@media (min-width: 768px){
	.mainFlex{
		flex-direction: row;
	}
}